<!DOCTYPE html>
<html lang="zh" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{:env('WEB_NAME')}</title>
    <meta name="description" content="GrabShoping">
    <link href="/static/css/bootstrap.min.css"  rel="stylesheet"/>
    <link href="/static/css/font-awesome.min.css"  rel="stylesheet"/>
    <link href="/static/css/style.css"  rel="stylesheet"/>
    <link href="/static/css/login.min.css"  rel="stylesheet"/>
    <link href="/static/ruoyi/css/ry-ui.css"  rel="stylesheet"/>
    <!-- 360浏览器急速模式 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--    <link rel="shortcut icon" href="/static/favicon.ico" />-->
    <style type="text/css">label.error { position:inherit;  }</style>
    <script>
        if(window.top!==window.self){alert('未登录或登录超时。请重新登录');window.top.location=window.location};
    </script>
</head>
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">

        </div>
        <div class="col-sm-5">
            <form id="signupForm" autocomplete="off">
                <h4 class="no-margins"><img src="/static/img/logo2.png" width="180" alt=""></h4>
                <input type="text"     name="username" class="form-control uname"     placeholder="用户名" value=""    />
                <input type="password" name="password" class="form-control pword"     placeholder="密码"   value="" />
                {eq name=":env('googleauth.google_switch')" value="true"}
                <div class="row m-t" >
                    <div class="col-xs-8">
                        <input type="text" name="verify_code" class="form-control code" placeholder="谷歌验证码" maxlength="6" />
                    </div>
                </div>
                {else/}
                <div class="row m-t" >
                    <div class="col-xs-6">
                        <input type="text" name="verify_code" class="form-control code" placeholder="验证码" maxlength="5" />
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:void(0);" title="点击更换验证码">
                            <img src="{:url('login/captcha')}" class="img-code" style="height: 35px;" width="90%"/>
                        </a>
                    </div>
                </div>
                {/eq}
                <!--                    <div class="checkbox-custom" th:if="${isRemembered}" th:classappend="${captchaEnabled==false} ? 'm-t'">-->
                <!--				        <input type="checkbox" id="rememberme" name="rememberme"> <label for="rememberme">记住我</label>-->
                <!--				    </div>-->
                <button class="btn btn-success btn-block" id="btnSubmit" data-loading="正在验证登录，请稍候...">登录</button>
            </form>
        </div>
    </div>
    <!--        <div class="signup-footer">-->
    <!--            <div class="pull-left">-->
    <!--                Copyright © 2018-2022 .vip All Rights Reserved. <br>-->
    <!--            </div>-->
    <!--        </div>-->
</div>
<!--<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>-->
<script> var ctx = "{$ctx}"; var captchaType = ''; </script>
<!--[if lte IE 8]><script>window.location.href=ctx+'html/ie.html';</script><![endif]-->
<!-- 全局js -->
<script src="/static/js/jquery.min.js" ></script>
<script src="/static/ajax/libs/validate/jquery.validate.min.js"></script>
<script src="/static/ajax/libs/layer/layer.min.js" ></script>
<script src="/static/ajax/libs/blockUI/jquery.blockUI.js" ></script>
<script src="/static/ruoyi/js/ry-ui.js"></script>
<script src="/static/ajax/libs/crypto-js/crypto-js.min.js"></script>
<script src="/static/ruoyi/login.js" ></script>
</body>
</html>
