<!-- Main content -->
<section class="content">
    <div class="panel panel-default panel-intro">
        <div class="panel-body">
            <div class="form-group">
        <label class="col-sm-3 control-label " >位置: index_top=首页顶部</label>
        <div class="col-sm-9">
            {$model.pos}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >所属语言</label>
        <div class="col-sm-9">
            {$model.lang}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >标题名称</label>
        <div class="col-sm-9">
            {$model.title}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >图片</label>
        <div class="col-sm-9">
            {$model.image}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >链接</label>
        <div class="col-sm-9">
            {$model.url}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >排序</label>
        <div class="col-sm-9">
            {$model.sort}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >状态: normal=正常,hidden=隐藏</label>
        <div class="col-sm-9">
            {$model.status}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >创建时间</label>
        <div class="col-sm-9">
            {$model.create_time}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " ></label>
        <div class="col-sm-9">
            {$model.deleted}
        </div>
    </div>
 

        </div>
    </div>

</section>
