<!-- Main content -->
<section class="content">
    <div class="panel panel-default panel-intro">
        <div class="panel-body">
            <div class="form-group">
        <label class="col-sm-3 control-label " >配置标题</label>
        <div class="col-sm-9">
            {$model.title}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >名称</label>
        <div class="col-sm-9">
            {$model.name}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >配置值</label>
        <div class="col-sm-9">
            {$model.value}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >排序</label>
        <div class="col-sm-9">
            {$model.sort}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >分组</label>
        <div class="col-sm-9">
            {$model.group}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >配置说明</label>
        <div class="col-sm-9">
            {$model.description}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >状态</label>
        <div class="col-sm-9">
            {$model.status}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " ></label>
        <div class="col-sm-9">
            {$model.deleted}
        </div>
    </div>
 

        </div>
    </div>

</section>
