<!-- Main content -->
<section class="content">
    <div class="panel panel-default panel-intro">
        <div class="panel-body">
                <div class="form-group">
        <label class="col-sm-3 control-label " >字典编码</label>
        <div class="col-sm-9">
            {$model.id}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >字典排序</label>
        <div class="col-sm-9">
            {$model.dict_sort}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >字典标签</label>
        <div class="col-sm-9">
            {$model.dict_label}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >字典键值</label>
        <div class="col-sm-9">
            {$model.dict_value}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >字典类型</label>
        <div class="col-sm-9">
            {$model.dict_type}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >样式属性</label>
        <div class="col-sm-9">
            {$model.css_class}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >表格回显样式</label>
        <div class="col-sm-9">
            {$model.list_class}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >是否默认</label>
        <div class="col-sm-9">
            {$model.is_default}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >状态</label>
        <div class="col-sm-9">
            {$model.status}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >创建时间</label>
        <div class="col-sm-9">
            {$model.create_time}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >备注</label>
        <div class="col-sm-9">
            {$model.remark}
        </div>
    </div>

        </div>
    </div>

</section>
