<!-- Main content -->
<section class="content">
     <div class="panel panel-primary panel-intro" style="width: 75%;margin: 0 auto" >
        <div class="panel-heading">
         详细信息
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                    <div class="form-group row">
        <label class="col-sm-3 control-label" >id</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.id}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >商户ID</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.merchant_id}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >激活码</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.active_code}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >工单编号</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.order_code}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >账户</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.account_name}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >手机号</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.mobile}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >账户ID</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.account_id}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >在线状态</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.online_status}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >端口状态</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.port_status}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >目标总数</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.fans_target_num}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >进粉总数</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.fans_num}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >当日重复粉数</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.today_fans_repeat_num}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >重复粉数</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.fans_repeat_num}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >当日进粉数</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.today_fans_num}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >当日进粉目标</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.today_fans_target_num}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >上线时间</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.online_time}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >下线时间</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.offline_time}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >主号连接</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.account_link}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >用户token</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.token}</p>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 control-label" >deleted</label>
        <div class="col-sm-6">
            <p class="form-control-plaintext">{$model.deleted}</p>
        </div>
    </div>

            </form>
        </div>
    </div>

</section>
