<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="hr-form" data-ref="systemLog">
        <input  type="hidden" name="id" value="{$model.id}"/>
        <div class="form-group">
    <label for="username" class="col-sm-3 control-label is-required" >用户名</label>
    <div class="col-sm-8">
        <input  type="text" id="username" class="form-control" placeholder="请输入用户名" name="username" value="{$model.username}" required/>
    </div>
</div>
<div class="form-group">
    <label for="title" class="col-sm-3 control-label is-required" >操作标题</label>
    <div class="col-sm-8">
        <input  type="text" id="title" class="form-control" placeholder="请输入操作标题" name="title" value="{$model.title}" required/>
    </div>
</div>
<div class="form-group">
    <label for="method" class="col-sm-3 control-label is-required" >操作方法</label>
    <div class="col-sm-8">
        <input  type="text" id="method" class="form-control" placeholder="请输入操作方法" name="method" value="{$model.method}" required/>
    </div>
</div>
<div class="form-group">
    <label for="params" class="col-sm-3 control-label is-required" >请求参数</label>
    <div class="col-sm-8">
        <input  type="text" id="params" class="form-control" placeholder="请输入请求参数" name="params" value="{$model.params}" required/>
    </div>
</div>
<div class="form-group">
    <label for="ip" class="col-sm-3 control-label is-required" >IP地址</label>
    <div class="col-sm-8">
        <input  type="text" id="ip" class="form-control" placeholder="请输入IP地址" name="ip" value="{$model.ip}" required/>
    </div>
</div>

    </form>
</div>
{include file="public/form" /}





