<div class="wrapper wrapper-content animated fadeInRight ">
    <form class="form-horizontal m" id="hr-form" data-ref="quickReply">
             <div class="form-group">
       <label  class="col-sm-3 control-label " >商户ID</label>
        <div class="col-sm-8">
           <input  type="text" id="merchant_id" class="form-control " placeholder="请输入商户ID" name="merchant_id"   />
        </div>
    </div>
    <div class="form-group">
       <label  class="col-sm-3 control-label " >回复名称</label>
        <div class="col-sm-8">
           <input  type="text" id="reply_name" class="form-control " placeholder="请输入回复名称" name="reply_name"   />
        </div>
    </div>
    <div class="form-group">
       <label  class="col-sm-3 control-label " >回复组</label>
        <div class="col-sm-8">
           <select class="form-control select2" id="reply_type" data-value="" name="reply_type"    >
  <option value="">请选择</option>

</select>
        </div>
    </div>
    <div class="form-group">
       <label  class="col-sm-3 control-label " >内容</label>
        <div class="col-sm-8">
           <input  type="text" id="content" class="form-control " placeholder="请输入内容" name="content"   />
        </div>
    </div>

    </form>
</div>
{include file="public/form"/}

