<!-- Main content -->
<section class="content">
    <div class="panel panel-default panel-intro">
        <div class="panel-body">
            <div class="form-group">
        <label class="col-sm-3 control-label " >商户ID</label>
        <div class="col-sm-9">
            {$model.customer_id}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >工单编号</label>
        <div class="col-sm-9">
            {$model.order_code}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >激活码</label>
        <div class="col-sm-9">
            {$model.active_code}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >工单名称</label>
        <div class="col-sm-9">
            {$model.order_name}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >工单类型</label>
        <div class="col-sm-9">
            {$model.platform}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >帐号总数</label>
        <div class="col-sm-9">
            {$model.port_number}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >在线帐号</label>
        <div class="col-sm-9">
            {$model.port_online_number}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >目标总数</label>
        <div class="col-sm-9">
            {$model.fans_target_number}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >进粉总数</label>
        <div class="col-sm-9">
            {$model.fans_number}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >重复粉数</label>
        <div class="col-sm-9">
            {$model.fans_repeat_number}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >当日进粉数</label>
        <div class="col-sm-9">
            {$model.today_fans_number}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >分享密码</label>
        <div class="col-sm-9">
            {$model.share_password}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >失效时间</label>
        <div class="col-sm-9">
            {$model.share_expire_time}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >清零时间</label>
        <div class="col-sm-9">
            {$model.clean_time}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >重置时间</label>
        <div class="col-sm-9">
            {$model.reset_time}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >状态：</label>
        <div class="col-sm-9">
            {$model.status}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " >创建时间</label>
        <div class="col-sm-9">
            {$model.create_time}
        </div>
    </div>
<div class="form-group">
        <label class="col-sm-3 control-label " ></label>
        <div class="col-sm-9">
            {$model.deleted}
        </div>
    </div>
 

        </div>
    </div>

</section>
