<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="hr-form" data-ref="workOrder">
        <input  type="hidden" name="id" value="{$model.id}"/>
        <div class="form-group">
    <label for="customer_id" class="col-sm-3 control-label is-required" >商户ID</label>
    <div class="col-sm-8">
        <input  type="text" id="customer_id" class="form-control" placeholder="请输入商户ID" name="customer_id" value="{$model.customer_id}" required/>
    </div>
</div>
<div class="form-group">
    <label for="order_code" class="col-sm-3 control-label is-required" >工单编号</label>
    <div class="col-sm-8">
        <input  type="text" id="order_code" class="form-control" placeholder="请输入工单编号" name="order_code" value="{$model.order_code}" required/>
    </div>
</div>
<div class="form-group">
    <label for="active_code" class="col-sm-3 control-label is-required" >激活码</label>
    <div class="col-sm-8">
        <input  type="text" id="active_code" class="form-control" placeholder="请输入激活码" name="active_code" value="{$model.active_code}" required/>
    </div>
</div>
<div class="form-group">
    <label for="order_name" class="col-sm-3 control-label is-required" >工单名称</label>
    <div class="col-sm-8">
        <input  type="text" id="order_name" class="form-control" placeholder="请输入工单名称" name="order_name" value="{$model.order_name}" required/>
    </div>
</div>
<div class="form-group">
    <label for="platform" class="col-sm-3 control-label is-required" >工单类型</label>
    <div class="col-sm-8">
        <input  type="text" id="platform" class="form-control" placeholder="请输入工单类型" name="platform" value="{$model.platform}" required/>
    </div>
</div>
<div class="form-group">
    <label for="port_number" class="col-sm-3 control-label is-required" >帐号总数</label>
    <div class="col-sm-8">
        <input  type="text" id="port_number" class="form-control" placeholder="请输入帐号总数" name="port_number" value="{$model.port_number}" required/>
    </div>
</div>
<div class="form-group">
    <label for="port_online_number" class="col-sm-3 control-label is-required" >在线帐号</label>
    <div class="col-sm-8">
        <input  type="text" id="port_online_number" class="form-control" placeholder="请输入在线帐号" name="port_online_number" value="{$model.port_online_number}" required/>
    </div>
</div>
<div class="form-group">
    <label for="fans_target_number" class="col-sm-3 control-label is-required" >目标总数</label>
    <div class="col-sm-8">
        <input  type="text" id="fans_target_number" class="form-control" placeholder="请输入目标总数" name="fans_target_number" value="{$model.fans_target_number}" required/>
    </div>
</div>
<div class="form-group">
    <label for="fans_number" class="col-sm-3 control-label is-required" >进粉总数</label>
    <div class="col-sm-8">
        <input  type="text" id="fans_number" class="form-control" placeholder="请输入进粉总数" name="fans_number" value="{$model.fans_number}" required/>
    </div>
</div>
<div class="form-group">
    <label for="fans_repeat_number" class="col-sm-3 control-label is-required" >重复粉数</label>
    <div class="col-sm-8">
        <input  type="text" id="fans_repeat_number" class="form-control" placeholder="请输入重复粉数" name="fans_repeat_number" value="{$model.fans_repeat_number}" required/>
    </div>
</div>
<div class="form-group">
    <label for="today_fans_number" class="col-sm-3 control-label is-required" >当日进粉数</label>
    <div class="col-sm-8">
        <input  type="text" id="today_fans_number" class="form-control" placeholder="请输入当日进粉数" name="today_fans_number" value="{$model.today_fans_number}" required/>
    </div>
</div>
<div class="form-group">
    <label for="share_password" class="col-sm-3 control-label is-required" >分享密码</label>
    <div class="col-sm-8">
        <input  type="text" id="share_password" class="form-control" placeholder="请输入分享密码" name="share_password" value="{$model.share_password}" required/>
    </div>
</div>
<div class="form-group">
    <label for="share_expire_time" class="col-sm-3 control-label is-required" >失效时间</label>
    <div class="col-sm-8">
        <input  type="text" id="share_expire_time" class="form-control" placeholder="请输入失效时间" name="share_expire_time" value="{$model.share_expire_time}" required/>
    </div>
</div>
<div class="form-group">
    <label for="clean_time" class="col-sm-3 control-label is-required" >清零时间</label>
    <div class="col-sm-8">
        <input  type="text" id="clean_time" class="form-control" placeholder="请输入清零时间" name="clean_time" value="{$model.clean_time}" required/>
    </div>
</div>
<div class="form-group">
    <label for="reset_time" class="col-sm-3 control-label is-required" >重置时间</label>
    <div class="col-sm-8">
        <input  type="text" id="reset_time" class="form-control" placeholder="请输入重置时间" name="reset_time" value="{$model.reset_time}" required/>
    </div>
</div>
<div class="form-group">
    <label for="status" class="col-sm-3 control-label is-required" >状态：</label>
    <div class="col-sm-8">
        <input  type="text" id="status" class="form-control" placeholder="请输入状态：" name="status" value="{$model.status}" required/>
    </div>
</div>

    </form>
</div>
{include file="public/form" /}





