<!-- Main content -->
<section class="main-content">
    <div class="panel panel-primary panel-intro" style="width: 75%;margin: 0 auto" >
        <div class="panel-heading">
            详细信息
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-sm-3 control-label" >工单编号</label>
                    <div class="col-sm-6">
                        <p class="form-control-plaintext">{$model.order_code}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label" >短链平台</label>
                    <div class="col-sm-6">
                        <p class="form-control-plaintext">{$model.link_type}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label" >分享链接</label>
                    <div class="col-sm-6">
                        <p class="form-control-plaintext">{$model.link}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label" >到期时间</label>
                    <div class="col-sm-6">
                        <p class="form-control-plaintext">{$model.expire_time|get_time}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label" >分享密码</label>
                    <div class="col-sm-6">
                        <p class="form-control-plaintext">{$model.password}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label" >状态</label>
                    <div class="col-sm-6">
                        <p class="form-control-plaintext">{:get_dict_label('sys_normal_disable',$model.status)}</p>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 20px !important;">
                    <div class="col-sm-offset-5 col-sm-6">
                        <a type="button" class="btn btn-sm btn-primary" href="{:url('workOrderShare/update',['id' => $model.id])}"><i class="fa fa-check"></i>编辑</a>&nbsp;
                        <button type="button" class="btn btn-sm btn-danger" onclick="closeModal()"><i class="fa fa-reply-all"></i>关 闭 </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>
{include file="public/form"/}
<script>
    function closeModal(){
        $.modal.close()
    }
</script>

