<!-- Main content -->
<section class="content">
    <div class="panel panel-default panel-intro">
        <div class="panel-body">
                <div class="form-group">
        <label class="col-sm-3 control-label " >字典主键</label>
        <div class="col-sm-9">
            {$model.id}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >字典名称</label>
        <div class="col-sm-9">
            {$model.dict_name}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >字典类型</label>
        <div class="col-sm-9">
            {$model.dict_type}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >状态</label>
        <div class="col-sm-9">
            {$model.status}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >创建时间</label>
        <div class="col-sm-9">
            {$model.create_time}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label " >备注</label>
        <div class="col-sm-9">
            {$model.remark}
        </div>
    </div>

        </div>
    </div>

</section>
